html{
	background-image:url('images/lib2.jpg');
	background-size:cover;
	background-repeat:no-repeat;
	background-attachment:fixed;
	margin-top:0px;
}
/*list started*/
.list{
	list-style-type:none;
	margin:0px;
	padding:0px;
	overflow:hidden;
	text-align:center;
}
a{
	text-decoration:none;
	color:black;
}

a:link,a:visited{
	display:block;
	color:white;
	width:380px;
	font-size:30px;
	background-color:black;
	opacity:0.8;
	background-position:fixed;
	background-size:cover;
	background-attachment:fixed;
	
}
nav{
	
}

li{
	float:left;
	text-decoration:none;
}
/*list ended*/
/*body start*/
.body
{
	color:white;
	background-color:black;
	opacity:0.8;
	background-position:fixed;
	background-size:cover;
	padding-bottom:100px;
	width: 1520px;
}
.spotlight
{	text-align:center;
	color:blue;
	background-color:white;
	border: 1px solid white;
	height:400px;
	width:1500px;
	margin-left:10px;
}
/**/





